<div class="option_value" id="placeholders_box">
	<div class="il_Description">
        <!-- BEGIN advice -->{TXT_PLACEHOLDERS_ADVISE}<br /><!-- END advice -->
        <!-- BEGIN item -->
        <!-- BEGIN section --><p>{TXT_SECTION_TITLE}</p><!-- END section -->
        <!-- BEGIN placeholder -->
		<b><a href="#" onclick="insertTextIntoTextField(this.innerHTML, '{TEXTFILED_ID}'); return false;">[{PLACEHOLDER_TXT}]</a></b>: {PLACEHOLDER_TITLE}<br />
        <!-- END placeholder -->
        <!-- END item -->
	</div>
</div>
